body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #DEF6D8;
    border-bottom: 1px solid #ccc; 
    padding: 10px; 
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 70px;
    align-items: center;
}

.navbar ul li {
    margin-right: 30px;
    margin-left: 30px
}

.navbar a {
    text-decoration: none;
    color: #000;
}

#logo {
    color: #91c789;
    font-size: 25px;
    margin-right: 50px;
}

#dashboardtxt {
    margin-top: 3%;
    margin-left: 7%;
    font-size: 25px;
    font-weight: bold;

}

#dashflexbox {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    justify-content: space-between;

}

#mealsToday {
    width: 250px;
    height: 200px;
    background-color: white;
    border-style: solid;
    border-color: #99D9DE; 
    border-width: 1px;
    border-radius: 20px; 
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#energyToday {
    width: 250px;
    height: 200px;
    background-color: white;
    border-style: solid;
    border-color: #99D9DE; 
    border-width: 1px;
    border-radius: 20px; 
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
#waterToday {
    width: 250px;
    height: 200px;
    background-color: white;
    border-style: solid;
    border-color: #99D9DE; 
    border-width: 1px;
    border-radius: 20px; 
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#proteinToday{
    width: 250px;
    height: 200px;
    background-color: white;
    border-style: solid;
    border-color: #99D9DE; 
    border-width: 1px;
    border-radius: 20px; 
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toplabel {
    display:flex;
    top: 35%;
    left: 50%;
    transform: translate(0, -250%);
    width: 170px; 
    height: 35px; 
    background-color: #3498db; 
    border-width: 1px;
    border-radius: 8px;
    align-items: center;
    justify-content:center;
}

.labeltext{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
