body {
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #DEF6D8;
    border-bottom: 1px solid #BDBDBD; 
    padding: 10px; 
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 70px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.navbar ul li {
    margin-right: 30px;
    margin-left: 30px
}

.navbar a {
    text-decoration: none;
    color: #000000;
}

.navbar a:hover {
    color: #757575;
}

#logo {
    color: #91c789;
    font-size: 25px;
    margin-right: 50px;
}

#flexbox {
    display: flex;
    justify-content: center;


}

#access-box {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 10%;
    padding: 20px;
    border-radius: 10px;
    background-color: #F2FFF5;
    border: solid;
    border-color: #99D9DE;
}

#access-box a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    background-color: #91c789;

}

#access-box a:hover {
    color: #757575;
}

#userData {
    background-color: #99D9DE;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

#userName {
    font-size: 20px;
    font-weight: bold;
}

#editHeight {
    text-decoration: none;
    color: #000000;
    background-color: #91c789; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    display: inline-block; 
    white-space: nowrap; 
    border: none; 
    box-shadow: none;
}
#editHeight:hover {
    cursor: pointer; 
    background-color: #DEF6D8; 
    color: #424242; 
}

#editWeight {
    text-decoration: none;
    color: #000000;
    background-color: #91c789; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    display: inline-block; 
    white-space: nowrap; 
    border: none; 
    box-shadow: none;
}
#editWeight:hover {
    cursor: pointer; 
    background-color: #DEF6D8; 
    color: #424242; 
}

#editAge {
    text-decoration: none;
    color: #000000;
    background-color: #91c789; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    display: inline-block; 
    white-space: nowrap; 
    border: none; 
    box-shadow: none;
}
#editAge:hover {
    cursor: pointer; 
    background-color: #DEF6D8; 
    color: #424242; 
}

#editSex {
    text-decoration: none;
    color: #000000;
    background-color: #91c789; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    display: inline-block; 
    white-space: nowrap; 
    border: none; 
    box-shadow: none;
}
#editSex:hover {
    cursor: pointer; 
    background-color: #DEF6D8; 
    color: #424242; 
}

#deleteProfile {
    margin-right: 5px;
    align-self: center;
    background-color: #F29A8A; 
    color: #FFFFFF; 
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
#deleteProfile:hover {
    background-color: #F29A8A;
    color: #424242;
}